{% extends 'base.html' %}

{% block row %}
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 20px auto;"></div>
    <div class="row" style="font-size: 20px">
        <div class="col-xs-6 col-lg-3" style="background-color:#fff5eb;">
            <a href="/list/2" style="color:#000;">
                <h2>国内新闻</h2>
                <p>国内新闻着力于报道国内要闻、时事新闻、海外看中国、国内各地动态、
                    港澳新闻、政策观察与解读、深度报道、新闻图片、新闻人物等中国新闻。
                </p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/2" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#fff8cd;">
            <a href="/list/1" style="color:#000;">
                <h2>国际热点</h2>
                <p>国际新闻专门显示国际时事、综述评论及图片的栏目,主要包括时报和
                    独家新闻、国际博览、新闻人物、评论分析、媒体聚焦等。&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                </p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/1" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#f2eee0;">
            <a href="/list/3" style="color:#000;">
                <h2>军事报道</h2>
                <p>军事新闻频道是中国权威的军事新闻网站之一，为您报道中国、国际等军事
                    新闻及军情谍报。包括：中国军事、国际军事、军事热点等独家军事报道。</p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/3" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#fffeec;">
            <a href="/list/4" style="color:#000;">
                <h2>文化专题</h2>
                <p>供时事文化评论文章解读，时事文化热点汇总，看中公时事文化。
                    文化是一个国家、一个民族的灵魂。文化兴国运兴，文化强民族强。
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                </p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/4" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#fffeec;">
            <a href="/list/5" style="color:#000;">
                <h2>体育新闻</h2>
                <p>主要为您提供以下栏目：国内足球、国际足球、NBA、CBA、综合体育、奥运、直播、
                    彩票、竞猜等，在各项指标中均树立了绝对领先地位。</p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/5" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#f2eee0;">
            <a href="/list/6" style="color:#000;">
                <h2>娱乐专题</h2>
                <p>及时准确的提供娱乐资讯，包括娱乐新闻、电影世界、音乐天堂、电视剧场、图片中心、
                    娱乐论坛、名人访、娱乐热点、明星专题、明星写真、电影新闻评论、</p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/6" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#fff8cd;">
            <a href="/list/7" style="color:#000;">
                <h2>财经专栏</h2>
                <p>财经新闻报道为网友提供宏观、股票、商业、理财等财经领域的终结式报道；
                    依托强大的的技术优势，提供实时的全球金融市场数据更新和实时解读。</p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/7" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-3" style="background-color:#fff5eb;">
            <a href="/list/8" style="color:#000;">
                <h2>科技热点</h2>
                <p>24小时滚动报道IT业界，电信、互联网及大众科技新闻，最及时权威的产业及
                    事件报道平台，手机、数码、笔记本及软件下载一网打尽。
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                </p>
            </a>
            {#            <p><a class="btn btn-default" href="/list/8" role="button">查看 »</a></p>#}
        </div><!--/.col-xs-6.col-lg-4-->
    </div><!--/row-->
    <script type="text/javascript">

        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '各类新闻所占百分比(2019)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: '百分比:',
                colorByPoint: true,
                data: [{
                    name: '国内新闻',
                    y: {{ c }},
                    sliced: true,
                    selected: true
                }, {
                    name: '国外热点',
                    y: {{ w }}
                }, {
                    name: '军事报道',
                    y: {{ mil }}
                }, {
                    name: '文化专题',
                    y: {{ cul }}
                }, {
                    name: '体育新闻',
                    y: {{ sports }}
                }, {
                    name: '娱乐专题',
                    y: {{ ent }}
                }, {
                    name: '财经专栏',
                    y: {{ finance }}
                }, {
                    name: '科技热点',
                    y: {{ tech }}
                }]
            }]
        });
    </script>
{% endblock row %}